<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="description" content="A dreamy indie rock group from Victoria BC. Silverware is made up of 5 members who put together their musical talents to cook up something magical for every show, and album release">
    <meta property="og:title" content="Silverware Band">
    <meta property="og:description" content="A dreamy indie rock group from Victoria BC. Silverware is made up of 5 members who put together their musical talents to cook up something magical for every show, and album release">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.silverwareband.com">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css?version=1.5">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    <main>
        {{ content | safe }}
    </main>
    {% include "socials.njk" %}

    <script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
        if (!user) {
            window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
            });
        }
        });
    }
    </script>

</body>
</html>