---
title: Silverware Band | Official Website
layout: 'base.njk'
---
<!-- NAVBAR -->
<header id="navbar">
    <div class="navbar-wrapper">
        <div class="navbar-welcome">
            <h4>WELCOME</h4>
        </div>
        <hr class="top-hr1">
        <hr class="top-hr2">
        <hr class="top-hr3">
        <div class="navber-main">
            <img class="left-logo" src="/assets/art/silverware_banner_logo.png" alt="">
            <a href="/index.html"><button class="ticket-button">HOME</button></a>
        </div>
        <img class="center-logo" src="/assets/art/member_banner_center.png" alt="">
    </div>
    <hr class="bottom-hr1">
    <hr class="bottom-hr2">
    <hr class="bottom-hr3">
</header>

<!-- INFO -->
<div class="info-main">
    <div class="wrapper">
        <div class="info-items">
            <div class="info-image-grid">
                <div class="info-image info-image1">
                    <img class="img1" src="/assets/images/ghostly.webp" alt="">
                </div>
                <div class="info-image info-image2">
                    <img class="img2" src="/assets/images/cole.webp" alt="">
                </div>
                <div class="info-image info-image3">
                    <img class="img3" src="/assets/images/ava.webp" alt="">
                </div>
                <div class="info-image info-image4">
                    <img class="img4" src="/assets/images/red_huck.webp" alt="">
                </div>
            </div>
            <div class="info-blurb">
                <h2>ABOUT US</h2>
                <p>Silverware is made up of lead singer & guitarist Huckleberry Flett, lead guitarist Jake Style, bassist Cole Davis, Drummer Ava creed, and synth player Rhi Gordon-Smith. We are a dreamy indie rock group based out of Victoria, British Columbia. Our sound is created around FX driven soundscapes, thoughtful lyric writing, and driving rhythm section.</pp>

                <p>As a group we take an in-house approach from business planning and bookings, to music production and graphic design. We all take pride in contributing to the project, and we feel this is key to our vision for the band.</p>
            </div>
        </div>
    </div>
</div>
<!--
<div class="member-main">
    <div class="wrapper">
        <div class="member-items">
            <div class="member-item" style="background-image: url('/assets/images/fish_eye.webp');">
                <h2>Jake</h2>
                <p>Guitar</p>
            </div>
            <div class="member-item" style="background-image: url('/assets/images/red_huck.webp');">
                <h2>Huck</h2>
                <p>Guitar</p>
            </div>
            <div class="member-item" style="background-image: url('/assets/images/cole.webp');">
                <h2>Cole</h2>
                <p>Bass</p>
            </div>
        </div>
    </div>
</div>
-->
<!-- BIBLIOGRAPHY -->
<div class="bib-main">
    <div class="wrapper">
        <div class="bib-items">
            <h2>OUR LORE</h2>
            <div class="bib-item">
                <p>Silverware was established in early 2023 by founding members Huckleberry Flett (lead singer & guitar), Thomas James (lead guitar), Cole Davis (bass), and Jack Glaser (Drums). Silverware arose as one of many groups competing in the University of Victorias annual Battle of the Bands event (circa 2023). Exceeding their own expectations Silverware came 2nd place in the competition. This accomplishment sparked passion to continue the music, as all four members banded together to start Silverware.</p>
            </div>
            <div class="bib-item">
                <p>The band would continue to perform at live events as well as releasing three tracks in 2023. That summer the band would release their debut single Pineapple Juice, an upbeat, catchy song perfect for summertime listening. Next would be the release of On The Prowl (Live) later that fall, this song brought a different darker sound to Silverware's growing discography, as well as showing off their live chops. Lastly, RTG (Rose Tinted Glasses) would end the single release trilogy, being published near the end of 2023. RTG would later go on to resonate with listeners, as it became the groups top listened too song with over 10,000 streams on spotify alone.</p>
            </div>
            <div class="bib-item">
                <p>2024 would see the band go through many changes through the year, both in music releases and active members. (Second Place) released in early 2024 would be Silverware's debut EP, featuring tracks Carpe Diem and Numbers Guy. Both songs brought high energy guitar riffs, and crowd chanting lyrics. In April 2024 we would see the final show with all four original members, as Thomas and Jack would move on to different projects. In June we would see Jake Styles and Ava Creed join the band as lead guitarist and drummer respectively. Lastly, the final release of the year Daydream would be published at the end of 2024. Being their second EP Silverware made sure to evolve their sound, with tracks like Utopia and Ice Cream Soup bringing in more emotion to their song writing.</p>
            </div>
        </div>
    </div>
</div>

<div class="poster-main">
    <div class="wrapper">
        <div class="poster-items">
            {% for poster in collections.poster %}
                <img src="{{ poster.data.posterImage }}" width="300rem" 
                alt="{{ poster.data.altText }}" loading="lazy">
            {% endfor %}
        </div>
    </div>
</div>


    <!-- GRADIENT -->

    <div style="height: 200px;
            background: linear-gradient(to bottom, var(--color-white), var(--color-brown));">

    </div>
