footer {
    background-color: var(--color-brown);
    padding: 5rem 0;
}

.socials-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--color-white);
    & h2 {
        font-family: var(--font-brand);
        color: var(--color-white);
    }

    & .signature {
        color: var(--color-light-brown);
    }
}

.social-links {
    & i {
        color: var(--color-white);
        font-size: var(--font-400);
        letter-spacing: 1rem;
        color: var(--color-light-brown);
        transition: transform 0.3s ease, color 0.3s ease;
    }

    & i:hover {
        transform: scale(1.4);
        color: var(--color-white);
    }
}

.creator-link {
    text-align: center;
}